<h1>Welcome, <%= current_user.email.split("@").first %>!</h1>
<hr>
<h2>Who's creating?</h2>
<ul>
  <% @profiles.each do |profile| %>
    <li>
      <a href="<%= profile_path(profile) %>">
        <img src="<%= profile.avatar_url %>" alt="<%= profile.username %> avatar">
      </a>
      <p><%= profile.username %></p>
    </li>
  <% end %>
  <li>
    <a href="<%= new_profile_path %>">
      <img src="https://png.pngtree.com/png-vector/20190501/ourmid/pngtree-add-icon-design-png-image_1014970.png" alt="Add a new profile" width=160px>
    </a>
    <p>Add profile</p>
  </li>
</ul>
