<ul>
  <% @profiles.each do |profile| %>
    <li>
      <%= button_to select_profile_path(profile), method: :post, class: "profile-btn", style: "background: none; border: none; cursor: pointer;" do %>
        <img src="<%= profile.avatar_url || 'https://via.placeholder.com/150' %>" alt="<%= profile.username %> avatar" width="100">
        <p><%= profile.username %></p>
      <% end %>
    </li>
  <% end %>

  <li>
    <a href="<%= new_profile_path %>">
      <img src="https://png.pngtree.com/png-vector/20190501/ourmid/pngtree-add-icon-design-png-image_1014970.png" alt="Add a new profile" width=160px>
    </a>
    <p>Add profile</p>
  </li>
</ul>
