
      <div class="characters-showcase">
        <div class="row g-12 justify-content-center">


          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100 shadow-sm hover-lift character-card"
                 data-selection-target="card"
                 data-id="<%= character.id %>"
                 data-action="click->selection#select"
                 style="cursor: pointer;">
              <% if character.image_url.present? %>
                <%= link_to character_path(character) do %>
                <%= image_tag character.image_url, class: "card-img", alt: character.name %>
               <% end %>
              <% else %>
                <div class="character-image-fancy">
                  <i class="bi bi-person-circle text-white" style="font-size: 4rem;"></i>
                </div>
              <% end %>
              <div class="character-info">
                <h5 class="character-name-fancy"><%= character.name %></h5>
                <% if character.description.present? %>
                  <p class="character-description"><%= truncate(character.description, length: 80) %></p>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      </div>
