<div class="characters-page-wrapper" style="background-image: url('/images/backgrounds/background.9.jpg');">
  <!-- TALEZ Logo - Top Left -->
  <div class="page-logo" data-controller="logo-switcher">
    <%= link_to dashboard_path, class: "logo-link" do %>
      <%= image_tag 'logo_talez_1.png', alt: 'TALEZ', class: 'logo-image', data: { logo_switcher_target: 'logo1' } %>
      <%= image_tag 'logo_talez_2.png', alt: 'TALEZ', class: 'logo-image', style: 'display: none;', data: { logo_switcher_target: 'logo2' } %>
    <% end %>
  </div>

  
  <div class="page-wrapper">
  <div class="container py-5" data-controller="selection">
    <!-- Simple magical title -->
    <div class="magical-title-section">
      <h1 class="magical-title">
        <span class="sparkle">✨</span> Who Will You Become? <span class="sparkle">✨</span>
      </h1>
    </div>

    <%= form_with url: select_characters_path, method: :post, data: { turbo: false } do |f| %>
      <%= f.hidden_field :id, value: "", data: { selection_target: "input" } %>

      <!-- Characters Showcase: 4 cards max (3 characters + 1 Create) -->
      <div class="characters-showcase">
        <div class="row g-4 justify-content-center">
          <!-- Character 1: Sparkle Fairy -->
          <div class="col-12 col-sm-6 col-lg-3" data-controller="tilt" data-action="mousemove->tilt#move mouseleave->tilt#leave">
            <div class="character-card-fancy"
                 data-tilt-target="card"
                 data-selection-target="card"
                 data-id="<%= @default_characters.first&.id || 1 %>"
                 data-action="click->selection#select">
              <div class="character-image-wrapper">
                <%= image_tag 'sparkle_fairy_profile.jpeg', alt: 'Sparkle Fairy' %>
              </div>
              <div class="character-content">
                <h5 class="character-name">Sparkle Fairy</h5>
                <p class="character-description">A magical fairy with rainbow wings who brings joy and wonder!</p>
              </div>
            </div>
          </div>

          <!-- Character 2: Blaze Dragon -->
          <div class="col-12 col-sm-6 col-lg-3" data-controller="tilt" data-action="mousemove->tilt#move mouseleave->tilt#leave">
            <div class="character-card-fancy"
                 data-tilt-target="card"
                 data-selection-target="card"
                 data-id="<%= @default_characters.second&.id || 2 %>"
                 data-action="click->selection#select">
              <div class="character-image-wrapper">
                <%= image_tag 'blaze_dragon_profile.jpeg', alt: 'Blaze Dragon' %>
              </div>
              <div class="character-content">
                <h5 class="character-name">Blaze Dragon</h5>
                <p class="character-description">A mighty steampunk dragon guardian of the mechanical realm!</p>
              </div>
            </div>
          </div>

          <!-- Character 3: Captain Stella -->
          <div class="col-12 col-sm-6 col-lg-3" data-controller="tilt" data-action="mousemove->tilt#move mouseleave->tilt#leave">
            <div class="character-card-fancy"
                 data-tilt-target="card"
                 data-selection-target="card"
                 data-id="<%= @default_characters.third&.id || 3 %>"
                 data-action="click->selection#select">
              <div class="character-image-wrapper">
                <%= image_tag 'captain_stella_profile.jpeg', alt: 'Captain Stella' %>
              </div>
              <div class="character-content">
                <h5 class="character-name">Captain Stella</h5>
                <p class="character-description">A brave space pilot ready to explore the galaxy and beyond!</p>
              </div>
            </div>
          </div>

          <!-- Create Your Own Card -->
          <div class="col-12 col-sm-6 col-lg-3" data-controller="tilt" data-action="mousemove->tilt#move mouseleave->tilt#leave">
            <%= link_to new_character_path, class: "text-decoration-none" do %>
              <div class="create-own-card" data-tilt-target="card">
                <div class="create-content-wrapper">
                  <div class="create-icon">
                    <i class="bi bi-plus-circle"></i>
                  </div>
                  <h5 class="create-text">Create Your Own</h5>
                  <p class="create-subtext">Bring your hero to life!</p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>


      <!-- Custom Characters -->
      <div class="characters-showcase mt-4">
        <div class="row g-4 justify-content-center">
          <% @custom_characters.each do |character| %>
            <%= render partial: "card", locals: { character: character } %>
          <% end %>
        </div>
      </div>


      <!-- Continue Button - Fixed at Bottom -->
      <div class="continue-button-wrapper">
        <%= f.submit "Continue", class: "btn btn-sunset btn-lg", disabled: true, data: { selection_target: "submitButton" } %>
      </div>

    <% end %>


  </div>
</div>
</div>
