<div class="characters-page-wrapper" style="background-image: url('/images/backgrounds/background.10.jpg');">
  <!-- Avatar Corner -->
  <%= render 'shared/avatar_corner' %>

  <!-- All Characters Button - Near Avatar -->
  <%= link_to stories_path(filter: 'my_characters'), class: "all-characters-btn" do %>
    <i class="bi bi-people-fill"></i>
    <span>All Characters</span>
  <% end %>

  <!-- Floating Vector Background - Spawner System -->
  <div class="floating-background"
       data-controller="floating-spawner"
       id="main-spawner"
       data-floating-spawner-images-value='<%= [
         { src: image_path("vectors/hot-air-balloon.png"), alt: "Balloon", width: 112 },
         { src: image_path("vectors/crown.png"), alt: "Crown", width: 88 },
         { src: image_path("vectors/moctezumas-headdress.png"), alt: "Headdress", width: 128 },
         { src: image_path("vectors/book.png"), alt: "Book", width: 80 },
         { src: image_path("vectors/razz-berry.png"), alt: "Berry", width: 64 },
         { src: image_path("vectors/rocket.png"), alt: "Rocket", width: 96 }
       ].to_json %>'>
    <!-- Pool où les floaters seront créés dynamiquement -->
    <div data-floating-spawner-target="pool"></div>
  </div>

  <!-- TALEZ Logo - Top Left -->
  <div class="page-logo" data-controller="logo-switcher">
    <%= link_to dashboard_path, class: "logo-link" do %>
      <%= image_tag 'logo_talez_1.png', alt: 'TALEZ', class: 'logo-image', data: { logo_switcher_target: 'logo1' } %>
      <%= image_tag 'logo_talez_2.png', alt: 'TALEZ', class: 'logo-image', style: 'display: none;', data: { logo_switcher_target: 'logo2' } %>
    <% end %>
  </div>


  <div class="page-wrapper">
  <div class="container py-5" data-controller="selection">
    <!-- Simple magical title -->
    <div class="magical-title-section">
      <h1 class="magical-title">
        <span class="sparkle">✨</span> Who Will You Become? <span class="sparkle">✨</span>
      </h1>
    </div>

    <%
      # Logic: Always show 3 defaults + Create Your Own (4 fixed cards)
      # Custom characters are available at /stories
      default_characters_data = [
        { id: @default_characters.first&.id || 1, name: "Sparkle Fairy", image: "sparkle_fairy_profile.jpeg", description: "A magical fairy with rainbow wings who brings joy and wonder!" },
        { id: @default_characters.second&.id || 2, name: "Blaze Dragon", image: "blaze_dragon_profile.jpeg", description: "A mighty steampunk dragon guardian of the mechanical realm!" },
        { id: @default_characters.third&.id || 3, name: "Captain Stella", image: "captain_stella_profile.jpeg", description: "A brave space pilot ready to explore the galaxy and beyond!" }
      ]
    %>

    <%= form_with url: select_characters_path, method: :post, data: { turbo: false } do |f| %>
      <%= f.hidden_field :id, value: "", data: { selection_target: "input" } %>

      <!-- Characters Showcase: 4 cards max, 1 row -->
      <!-- Order: Defaults (left) → Custom/Create (right) -->
      <div class="characters-showcase">
        <div class="row g-4 justify-content-center">

          <%# Default Characters (3 cards) %>
          <% default_characters_data.each do |char_data| %>
            <div class="col-12 col-sm-6 col-lg-3" data-controller="tilt" data-action="mousemove->tilt#move mouseleave->tilt#leave">
              <div class="character-card-fancy"
                   data-tilt-target="card"
                   data-selection-target="card"
                   data-id="<%= char_data[:id] %>"
                   data-action="click->selection#select">
                <div class="character-image-wrapper">
                  <%= image_tag char_data[:image], alt: char_data[:name] %>
                </div>
                <div class="character-content">
                  <h5 class="character-name"><%= char_data[:name] %></h5>
                  <p class="character-description"><%= char_data[:description] %></p>
                </div>
              </div>
            </div>
          <% end %>

          <%# Create Your Own Card (always visible) %>
          <div class="col-12 col-sm-6 col-lg-3" data-controller="tilt" data-action="mousemove->tilt#move mouseleave->tilt#leave">
            <%= link_to new_character_path, class: "text-decoration-none" do %>
              <div class="create-own-card" data-tilt-target="card">
                <div class="create-content-wrapper">
                  <div class="create-icon">
                    <i class="bi bi-plus-circle"></i>
                  </div>
                  <h5 class="create-text">Create Your Own</h5>
                  <p class="create-subtext">Bring your hero to life!</p>
                </div>
              </div>
            <% end %>
          </div>

        </div>
      </div>


      <!-- Continue Button - Fixed at Bottom -->
      <div class="continue-button-wrapper">
        <%= f.submit "Continue", class: "btn btn-sunset btn-lg", disabled: true, data: { selection_target: "submitButton" } %>
      </div>

    <% end %>

    <!-- Browse All Stories Button -->
    <div class="browse-all-wrapper text-center mt-4">
      <%= link_to stories_path, class: "btn btn-outline-light btn-lg" do %>
        <i class="bi bi-collection me-2"></i>Browse All Stories
      <% end %>
    </div>


  </div>
</div>
</div>
