<div class="col-12 col-sm-6 col-md-4 col-lg-3 custom-character-card" data-controller="tilt" data-action="mousemove->tilt#move mouseleave->tilt#leave">
  <div class="character-card-fancy" data-tilt-target="card" data-selection-target="card" data-id="<%= universe.id %>" data-action="click->selection#select">

    <div class="character-image-wrapper">
      <% if universe.image.attached? %>
        <%= image_tag universe.image, alt: universe.name %>
      <% else %>
        <div class="character-placeholder">
          <i class="bi bi-globe-americas"></i>
        </div>
      <% end %>
    </div>

    <div class="character-content">
      <h5 class="character-name"><%= universe.name %></h5>
      <% if universe.description.present? %>
        <p class="character-description"><%= truncate(universe.description, length: 80) %></p>
      <% end %>
    </div>

    <% if local_assigns[:show_actions] %>
      <!-- Action buttons -->
      <div class="card-actions-magic">
        <%= link_to new_universe_path, class: "magic-btn magic-btn-new", title: "Create new", data: { turbo: false } do %>
          <span>✦</span>
        <% end %>
        <%= link_to universe_path(universe), class: "magic-btn magic-btn-edit", title: "Edit", data: { turbo: false } do %>
          <span>✎</span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
