<!DOCTYPE html>
<html>
  <head>
    <title>Talez</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

    <body class="<%= "#{controller_name}-#{action_name}" %>">
    <% if content_for?(:night_sky) %>
      <div class="night-sky-background"></div>
    <% end %>

    <%= render "shared/flashes" %>

    <% if content_for?(:night_sky) %>
      <div class="night-sky-content">
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
