<!DOCTYPE html>
<html>
  <head>
    <title>Talez</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

    <body class="<%= "#{controller_name}-#{action_name}" %>">
    <% if current_page?(root_path) || controller_name == 'profiles' %>
      <%= render "shared/navbar" %>
    <% end %>
<%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
